<div class="ram-grid-container">
    <div><img src="./../../../assets/flowers/m3.jpeg" /></div>
    <div class="b1"><img src="./../../../assets/flowers/b1.jpg" /></div>
    <div><img src="./../../../assets/flowers/s1.jpg" /></div>
    <div><img src="./../../../assets/flowers/m1.jpg" /></div>
    <div><img src="./../../../assets/flowers/s2.jpg" /></div>
    <div><img src="./../../../assets/flowers/s3.jpg" /></div>
    <div><img src="./../../../assets/flowers/m2.jpg" /></div>
    <div class="b1"><img src="./../../../assets/flowers/b2.jpg" /></div>
    <div><img src="./../../../assets/flowers/s4.jpg" /></div>
    <div><img src="./../../../assets/flowers/s5.jpg" /></div>
    <div><img src="./../../../assets/flowers/s6.jpg" /></div>
    <div class="b1"><img src="./../../../assets/flowers/b4.jpg" /></div>
    <div><img src="./../../../assets/flowers/s7.jpg" /></div>
    <div><img src="./../../../assets/flowers/b5.jpg" /></div>
    <div><img src="./../../../assets/flowers/b6.jpg" /></div>
  </div>