<div class="app-grid-container">
  <header class="app-header">
    <img src="./../assets/logo.png"/>
  </header>
  <nav class="app-nav">
    <a class="button" routerLink="/grid1">Basic Grid</a>
    <a class="button" routerLink="/grid2">Fractions</a>
    <a class="button" routerLink="/grid3">Positioning Grid Items</a>
    <a class="button" routerLink="/grid4">Grid with Named Lines</a>
    <a class="button" routerLink="/grid5">Named Grids</a>
    <a class="button" routerLink="/grid6">Responsive grid with Auto-fit and Minmax</a>
  </nav>
  <section class="app-section">
    <router-outlet></router-outlet>
  </section>
  <footer class="app-footer">&copy;Copyright 2020</footer>
</div>




<!-- <div class="wrapper">
  <div class="grid-container1">
    <div><img src="./../assets/flowers/m3.jpeg" /></div>
    <div><img src="./../assets/flowers/b1.jpg" /></div>
    <div><img src="./../assets/flowers/s1.jpg" /></div>
    <div><img src="./../assets/flowers/m1.jpg" /></div>
    <div><img src="./../assets/flowers/s2.jpg" /></div>
    <div><img src="./../assets/flowers/s3.jpg" /></div>
    <div><img src="./../assets/flowers/m2.jpg" /></div>
    <div><img src="./../assets/flowers/b2.jpg" /></div>
    <div><img src="./../assets/flowers/s4.jpg" /></div>
    <div><img src="./../assets/flowers/s5.jpg" /></div>
    <div><img src="./../assets/flowers/s6.jpg" /></div>
    <div><img src="./../assets/flowers/b4.jpg" /></div>
    <div><img src="./../assets/flowers/s7.jpg" /></div>
    <div><img src="./../assets/flowers/b5.jpg" /></div>
    <div><img src="./../assets/flowers/b6.jpg" /></div>
  </div>
  <div class="grid-container2">
    <div>test1</div>
    <div>test1</div>
  </div>
  <div class="grid-container3">
    <div>test2</div>
    <div>test2</div>
  </div>
</div>
<nav>
  <a class="button" routerLink="/grid1">Grid 1</a> |
  <a class="button" routerLink="/grid2">Grid2</a>
</nav>
<app-root></app-root>
<router-outlet></router-outlet> -->
