<div class="app-grid-container">
  <header class="app-header">
    <img src="./../assets/logo.png"/>
  </header>
  <nav class="app-nav">
    <div><a class="button" routerLink="/grid1" routerLinkActive="active" title="Basic Grid">Basic Grid</a></div>
    <div><a class="button" routerLink="/grid2" routerLinkActive="active" title="Fractions">Fractions</a></div>
    <div><a class="button" routerLink="/grid3" routerLinkActive="active" title="Positioning Grid Items">Positioning Grid Items</a></div>
    <div><a class="button" routerLink="/grid4" routerLinkActive="active" title="Grid with Named Lines">Grid with Named Lines</a></div>
    <div><a class="button" routerLink="/grid5" routerLinkActive="active" title="Responsive Named Grids">Responsive Named Grids</a></div>
    <div><a class="button" routerLink="/grid6" routerLinkActive="active" title="Responsive grid with Auto-fit and Minmax">Responsive grid with Auto-fit and Minmax</a></div>
  </nav>
  <section class="app-section">
    <router-outlet></router-outlet>
  </section>
  <footer class="app-footer">&copy;Copyright 2020</footer>
</div>
