.app-grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 20vw repeat(12, 1fr);
    grid-template-rows: 50px auto 50px;
}

.app-header {
    grid-column: 1/-1;
    background-color: #0073E7;
  
}

.app-header > img {
    height: 38px;
    width: 120px;
    margin-top: 6px;
}

.app-nav {
    display: flex;
    flex-direction: column;
    background-color: #F1F2F3;
    border-right: 3px solid grey;
    width: 20vw;
}

.app-nav > div > a {
    display: flex;
    align-items: center;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #323435;
    height: 56px;
    padding: 0 20px;
    border: none;
    transition: box-shadow 0.24s ease-out, padding 0.24s ease-out;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    border-bottom: solid 1px #DCDEDF;
}

.app-nav > div >  a.active {
    box-shadow: inset 4px 0 #0073E7;
}

.app-nav > div > a {
    text-decoration: none;
}

.app-nav > div:hover {
    color: #323435;
    background-color: rgba(0, 115, 231, 0.05);
}

.app-section {
    padding: 10px;
    grid-column: 2/-1;
    background-color: rgb(230, 227, 224);
}

.app-footer {
    grid-column: 1 / span 13;
    background-color: rgb(245, 143, 60);
}
