.basic-grid-container>div:nth-child(1n) {
    background-color: #db2443;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basic-grid-container>div:nth-child(2n) {
    background-color: #abbbda;
    display: grid;
    justify-content: center;
    align-items: center;
}

.basic-grid-container {
    display: grid;
    grid-gap: 4px;
    grid-template-rows: 100px 100px;
    grid-template-columns: 200px 200px;
}