

.named-lines-grid-container > div {
    color: #ffffff;
    /* background-color: #928a8a; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.named-lines-grid-container {
    height: 100%;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: [header-start] 100px [dashboard-start] 1fr [dashboard-end] 100px [panel-end];
    grid-template-rows: [header-start] 50px [header-end] 1fr [dashboard-end];
}

.masthead {
    background-color: dodgerblue;
    grid-column: header-start / panel-end;
}

.left-menu {
    background-color: darkseagreen;
    grid-row: header-end/dashboard-end;
}
.dashboard {
    background-color: #ffd8a8;
    grid-column: dashboard-start / dashboard-end;
}

.right-panel {
    background-color: rgb(209, 154, 223);
    grid-column: dashboard-end/panel-end;
}