.named-lines-grid-container > div {
    color: #ffffff;
    /* background-color: #928a8a; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.named-lines-grid-container {
    height: 100%;
    display: grid;
    grid-gap: 2px;
    grid-template-areas: 
    "h h h h h h h h h h h p"
    "m d d d d d d d d d d p"
    "m d d d d d d d d d d p"
}

.masthead {
    background-color: dodgerblue;
    grid-area: h;
}

.left-menu {
    background-color: darkseagreen;
    grid-area: m;
}
.dashboard {
    background-color: #ffd8a8;
    grid-area: d;
}

.right-panel {
    background-color: rgb(209, 154, 223);
    grid-area: p;
}